.header_line ul {
    display: inline-block;
    margin: 0;
    padding: 4px;
}
.header_line ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

table.list-posts tr:hover{
    background-color: rgba(79, 208, 244, 0.28);
}

label.block {
    display: block;
}

.create-post .label-title{
    text-align: right;
}

.user-login .label-title{
    text-align: right;
}

.create-post .post-body {
    width: 100%;
    height: 700px;
}

a.myInfoBtn{
    color: rgb(30, 252, 255)
}