<div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
            {% if user_can_create %}
                <a href="/edit/edit" title="Создание нового поста" class="btn btn-primary myInfoBtn">Новый пост</a>
            {% endif %}
            Список постов
        </span>
    </div>
    <div class="panel-body">
        <table class="table list-posts">
            <thead>
            <th>#</th><th>Название</th><th>Автор</th><th>Создан</th>
            </thead>
            <tbody>
            <?php $number = 1 ?>
            {% for post in posts %}
                <tr>
                    <td> <?php echo $number++ ?></td>
                    <td><a href="/index/view?post={{ post['post_id'] }}">{{ post['title'] }}</a> </td>
                    <td>{{ post['author'] }}</td>
                    <td>{{ post['date_create'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


