<div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
            Пост <b>"{{ title }}"</b>
        </span>
    </div>
    <div class="panel-body">
        <span>
            <span>Автор <b>{{ author }}</b> [ создан {{ date_create }} ]</span>
            {% if user_is_author %}
            <div style="display: inline; float: right">
                <span><a href="/edit/delete?post={{ post_id }}"  class="btn btn-primary myInfoBtn" title="Удалить пост"  style="display: inline">Удалить</a></span>
                <span><a href="/edit/edit?post={{ post_id }}" class="btn btn-primary myInfoBtn" title="Редактировать пост"  style="display: inline">Редактировать</a></span>
            </div>
            {% endif %}
        </div>
        <hr />
        {{ body }}
    </div>
</div>


