<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title">Введите логин и пароль</span>
            </div>
            <div class="panel-body">
                <form action="/account/login" method="post" class="user-login">
                    {% if message is not empty %}
                        <div class="alert alert-danger" role="alert">{{ message|default('') }}</div>
                    {% endif %}
                    <label class="block">
                        <div class="row">
                            <div class="col-md-4 label-title">Логин:</div>
                            <div class="col-md-8">
                                <input type="text" name="login" value="{{ login }}" autofocus maxlength="250">
                            </div>
                        </div>
                    </label>
                    <label class="block">
                        <div class="row">
                            <div class="col-md-4 label-title">Пароль:</div>
                            <div class="col-md-8">
                                <input type="password" name="password" maxlength="250">
                            </div>
                        </div>
                    </label>
                    <p style="text-align: center">
                        <button type="submit" class="btn btn-primary">Войти</button>
                        <button type="reset" class="btn btn-warning">Очистить</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

