<div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
            Пост "{{ title }}"
        </span>
    </div>
    <div class="panel-body">
        Вы действительно хотите удалить пост <b>"{{ title }}"</b>?
        <hr />
        <form class="js-delete-post">
            <input type="hidden" class="js-post_id" value="{{ post_id }}">
            <p>
                <button type="button" class="btn btn-warning js-submit">Удалить</button>
                <a href="/">Отмена</a>
            </p>
        </form>
    </div>
</div>


