<div class="panel panel-info create-post">
    <div class="panel-heading">
        <span class="panel-title">{{ header }}</span>
    </div>
    <div class="panel-body">
        <form class="js-createForm">
            <label class="block">
                Название поста: <br />
                <input type="hidden" class="js-post_id" value="{{ post_id }}">
                <input type="text" class="js-title" autofocus maxlength="250" value="{{ title }}" style="width: 100%">
            </label>
            <label class="block">
                Текст: <br />
                <textarea class="post-body js-post-body">{{ body }}</textarea>
            </label>
            <label class="block">
                Ключевые слова: <br />
                <input type="text" class="js-keyWord" placeholder="PHP Phalcon Volt"  maxlength="250" value="{{ keyWords }}">
            </label>
            <p style="text-align: center">
                <button type="button" class="btn btn-primary js-submit">Сохранить</button>
                <button type="button" class="btn btn-warning js-reset">Очистить</button>
            </p>
        </form>
    </div>
</div>
