<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>My Phalcon Blog</title>
        {# Вывод всех js файлов, подключеных с помощью addCss() #}
        {#<?php $this->assets->outputCss(); ?>#}
        {{  assets.outputCss() }}
    </head>
    <body>
        <div class="container">
            <div class="row header_line">
                <div class="col-md-8">
                    <ul>
                        <li><a href="/">Все посты</a> </li>
                    </ul>
                </div>
                <div class="col-md-4" style="text-align: right">
                    <ul>
                        {% if user is empty %}
                            <li><a href="/account/login">Войти</a></li>
                        {% else %}
                            <li>{{ user }}</li>
                            <li><a href="/account/logout">Выйти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {{ log|default('') }}
            {{ content() }}
        </div>

        {# Вывод всех js файлов, подключеных с помощью addJs() #}
        {#<?php $this->assets->outputJs(); ?>#}
        {{ assets.outputJs('footer') }}
    </body>
</html>
